.botao-mais  {
 margin-left: 
 margin-top: 
}

.botao-menos {
  margin-left: 
  margin-top: -
}

.botao-dividi {
  margin-left: 
  margin-top: 
}

.botao-multiplica {
  margin-left: 
  margin-top: 
}

.resposta {
  margin-left: 
}

.numero-1 {
  margin-left: 
  margin-top:
}

.numero-2 {
  margin-left: 
  margin-top:
}

.letra {
  font-family: arial;
}
